[Unit]
Description=chromeTabLinker
After=jack_mixer.service
#BindsTo=pipewire.service

[Service]
Type=simple
Restart=always
ExecStart=pw-jack python3 /home/jakob/PW_Configs/chromeTabLinker.py

[Install]
WantedBy=graphical.target
