[Unit]
Description=jack_mixer
After=graphical.target
BindsTo=pipewire.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/pw-jack /usr/bin/jack_mixer -c /home/jakob/PW_Configs/jack_mixer_desktop.xml

[Install]
WantedBy=default.target
