[Unit]
Description=ledfx
After=graphical.target
Wants=graphical.target
BindsTo=pipewire.service

[Service]
Type=simple
Restart=always
#ExecStartPre=/bin/sleep 3
#Environment=QT_QPA_PLATFORM=xcb
ExecStart=/home/jakob/.ledfx/LedFx-linux/LedFx
#ExecStart=/bin/bash /home/jakob/.ledfx/startLedfx.sh
ExecStartPost=/bin/bash /home/jakob/PW_Configs/ledFX_sceneSelect.sh

[Install]
WantedBy=default.target
