[Unit]
Description=qjackctl
After=graphical.target
BindsTo=pipewire.service

[Service]
Type=simple
Restart=always
ExecStart=pw-jack qjackctl -a /home/jakob/PW_Configs/qJackCtl_Patch.xml

[Install]
WantedBy=graphical.target
